body{
  background-color: #8998ac;
  height: auto;
}
.containerforProductCotainer{
  display: flex;
  justify-content: center;
}
.inputContainer {
  width: auto;
  height: 4rem;
  display: flex;
  justify-content: center;
}
.btn{
    background:    #666666;
    border:        1px solid #556699;
    border-radius: 11px;
    box-shadow:    0 1px #444444;
    padding:       4px 32px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 19px/1 "Ubuntu", sans-serif;
    text-align:    center;
    position: relative;
    bottom: 2px;
  }
.noMovieText{
  font-size: 1.5rem;
}
ul {
  list-style: none;
}
li {
  font-size: 1.3rem;
}
.categoryContainer{
  gap: 50px;
  display: flex;
  justify-content: center;
}
.btnS {
  background:    #2a2c35;
  border:        1px solid #556699;
  border-radius: 11px;
  box-shadow:    0 1px #444444;
  padding:       13px 25px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 19px/1 "Ubuntu", sans-serif;
  text-align:    center;
  position: relative;
  top: 10px;
  left: 5px;
}
.btnS:disabled{
opacity: 30%;
}
.btnCategory{
  background:    #666666;
border:        1px solid #556699;
border-radius: 11px;
box-shadow:    0 1px #444444;
padding:       4px 32px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 19px/1 "Ubuntu", sans-serif;
text-align:    center;
position: relative;
bottom: 2px;
}
.input {
  position: relative;
  top: 10px;
  height: 3rem;
  width: 25rem;
}
input{
  font-size: 1.5rem;
}

.productsContainer {
  position: relative;
  background-color: grey;
  padding: 20px;
  border-radius: 1%;
  width: 95%;
  overflow: hidden;
  border: 2px solid;
}
.noMovieContainer {
  position: relative;
  background-color: grey;
  padding: 20px;
  border-radius: 1%;
  width: 95%;
  height: 1000px;
  overflow: hidden;
  border: 2px solid;
  text-align: center;
}
.btnBuy{
  background:    #666666;
border:        1px solid #556699;
border-radius: 11px;
box-shadow:    0 1px #444444;
padding:       4px 32px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 19px/1 "Ubuntu", sans-serif;
text-align:    center;
}
.prodprodAll {
  margin: 5px;
  width: 300px;
  height:450px;
  text-align: center;
}
.imgContainer {
  border-radius: 20%;
  border: 2px solid rgb(255, 255, 255);
  height: 150px;
  width: 150px;
}
.productsContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
}

